# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print('Thiola Ogunremi')

Thiola Ogunremi

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [2]:
# Load data 
df= pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [21]:
print("number of listings: ", df.shape[0])
df.head()

number of listings:  46527

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [20]:
# 1. How many listings are there with a price less than 100? 

select_cond_one = df['price'] < 100
price_df = df[select_cond_one].copy()
print("number of listings: ", price_df.shape[0])
price_df.head()

number of listings:  22778

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344

In [19]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

select_cond_two = df['neighbourhood_group'] == "Brooklyn" 
df_bk = df[select_cond_two].copy()
print("number of listings: ", df_bk.shape[0])
df_bk.head()

number of listings:  18632

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0

In [18]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
select_cond_three = df['neighbourhood_group'] == "Brooklyn" 
select_cond_four = df['price'] < 100
df_bk_price = df[select_cond_three & select_cond_four].copy()
print("number of listings: ", df_bk_price.shape[0])
df_bk_price.head()

number of listings:  10473

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365

In [23]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

name_list = ['Michael', 'David','John','Daniel']
Cond = df.host_name.isin(name_list) 
name_df = df[Cond].copy()
print("number of listings: ", name_df.shape[0])
name_df.head()

number of listings:  1258

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261

In [5]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df['price'] + 100
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,275
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,175
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,160
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,275
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,165

In [6]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

df['room_type'].value_counts(normalize=True)

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [8]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood_group').size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [9]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group').agg({'price':['mean']})

                          price
                           mean
neighbourhood_group
Bronx                 92.751479
Brooklyn             120.225258
Manhattan            191.880466
Queens                99.754965
Staten Island        110.947214

In [10]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
df.groupby('room_type').agg({'price':['mean']})

                      price
                       mean
room_type
Entire home/apt  199.395950
Hotel room       275.015075
Private room      91.453084
Shared room       87.063830

In [11]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group').agg({'price':['min', 'max']})

                    price
                      min    max
neighbourhood_group
Bronx                  16   1404
Brooklyn                0  10000
Manhattan               0  10000
Queens                  0  10000
Staten Island          19   1200

In [12]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
df.groupby('room_type').agg({'price':['mean']})

                      price
                       mean
room_type
Entire home/apt  199.395950
Hotel room       275.015075
Private room      91.453084
Shared room       87.063830

In [14]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type']).agg({'price':['count', 'min', 'max', 'mean', 'median', 'std']})

                                     price                                \
                                     count min    max        mean median
neighbourhood_group room_type
Bronx               Entire home/apt    415  25   1404  138.004819  103.0
                    Private room       722  16    700   68.419668   55.0
                    Shared room         46  20    800   66.391304   44.0
Brooklyn            Entire home/apt   9112  20  10000  171.587687  135.0
                    Hotel room          30   0    399  147.300000  129.0
                    Private room      9159  10   2500   71.291189   60.0
                    Shared room        331  15   1500   57.870091   36.0
Manhattan           Entire home/apt  12209   0  10000  231.335572  165.0
                    Hotel room         351   0   2211  292.515670  210.0
                    Private room      7601  10  10000  128.277069   80.0
                    Shared room        419  10  10000  111.735084   60.0
Queens              Entire home/apt   2090  10  10000  150.168900  115.0
                    Hotel room          17   0    249  139.058824  149.0
                    Private room      3499  18   9000   69.972564   55.0
                    Shared room        185  14   3000   89.891892   40.0
Staten Island       Entire home/apt    172  39   1200  151.720930  111.0
                    Private room       163  20    800   70.312883   55.0
                    Shared room          6  19     82   46.000000   38.0


                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [3]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_price = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/prices.csv')
df_listing = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/n_listings.csv')
# changes the listing csv based changing to comma

In [5]:
# 2. Do join that keeps all the records for each table.

# Perform a full outer join on the 'id' column
full_join_df = pd.merge(df_price, df_listing, on='neighbourhood_group', how='outer')
print(full_join_df)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [9]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
import os
os.makedirs('data', exist_ok=True)
full_join_df.to_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/joined.csv', index=False)

In [11]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
joined_df = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/joined.csv')
joined_df.head()

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [12]:
grammys_df = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/grammys.csv')

In [13]:
grammys_df.head()

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [ ]:
condYear = grammys_df['year'] == 2009
condAlbum = grammys_df['category'] == "Album of the Year"
condBool = grammys_df['winner'] == True  # or just grammys_df['winner']
cond_ans_one = grammys_df[condYear & condAlbum & condBool].copy()
cond_ans_one.head()

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [19]:
condYear = grammys_df['year'] == 2016
condAlbum = grammys_df['category'] == "Best Rap Album"
condBool = grammys_df['winner'] == True  # or just grammys_df['winner']
cond_ans_one = grammys_df[condYear & condAlbum & condBool].copy()
cond_ans_one.head()

      year        category               nominee         workers  winner
5596  2016  Best Rap Album  To Pimp a Butterfly.  Kendrick Lamar    True

In [25]:
condArtist = grammys_df['workers'].str.contains("kendrick Lamar", case=False, na=False) # i found that python had no like functions
cond_ans_one = grammys_df[condArtist & condBool].copy()
print("number of nominations: ",cond_ans_one.shape[0])
cond_ans_one.head()

number of nominations:  11

,year,category,nominee,workers,winner
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5451,2015,Best Rap Song,i.,"Kendrick Lamar (Songwriter), Rahki (Songwriter)",True
5575,2016,Best Music Video,Taylor Swift: Bad Blood,"Taylor Swift (artist), Kendrick Lamar (artist)...",True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True

In [28]:
condArtist = grammys_df['workers'].str.contains("kendrick Lamar", case=False, na=False)
condBool = grammys_df['winner'] == True  # or just grammys_df['winner']
cond_ans_one = grammys_df[condArtist & condBool].copy()
print("number of wins: ",cond_ans_one.shape[0])
cond_ans_one.head(10)

number of wins:  11

,year,category,nominee,workers,winner
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5451,2015,Best Rap Song,i.,"Kendrick Lamar (Songwriter), Rahki (Songwriter)",True
5575,2016,Best Music Video,Taylor Swift: Bad Blood,"Taylor Swift (artist), Kendrick Lamar (artist)...",True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True
5602,2016,Best Rap Song,Alright.,"Kendrick Lamar (songwriter), Kawan Prather (so...",True
5605,2016,Best Rap/Sung Collaboration,These Walls.,"Kendrick Lamar, Bilal (featured artist), Anna ...",True
6000,2018,Best Rap Album,Damn,Kendrick Lamar (artist),True
6003,2018,Best Rap Performance,HUMBLE.,Kendrick Lamar,True
6006,2018,Best Rap Song,Humble,"Mike Will Made It (songwriter), Asheton Hogan ...",True

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.